<div class="main_description">
{% assign my_description = collection.description | split: '<!-- split -->'  %}
{%if collection.description contains '<!-- split -->' %}
                        <div class="top_desc">{{ my_description[0] }}</div>
                        <div class="append-content-custom">{{ my_description[1] }}</div>
                        <span class="moreless-button-one">Read More</span>
{%else%}
{{collection.description}}
{%endif%}
                      </div>
<script>
  $(document).ready(function(){
 $('.moreless-button-one').click(function() {
  $('.more_text-one').slideToggle();
  if ($('.moreless-button-one').text() == "Read More") {
    $(this).text("Read less");
$('.append-content-custom').show();

  } else {
    $(this).text("Read More");
$('.append-content-custom').hide();
  }
});
  });
</script>
